<!DOCTYPE html>
<html>
    <head>
        <title>
            Alexis' Booking System Home Page
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <!--
        An idea to make this feel more full would be to display the
        welcome message alongside the user's first name.
    -->

    <body>
        <div class="foreground" align="center">
            <h1>
                Welcome!
            </h1>

            <!-- The href sends a request to the server functions -->
            <a href="makebooking"><button class="pushbutton">Make a Booking</button></a>
            <br><br>
            <a href="viewbookings"><button class="pushbutton">View your Bookings</button></a>
        </div>
    </body>