<!DOCTYPE html>
<html>
    <head>
        <title>
            Alexis' Booking System Start Page
        </title>
        <!-- Flask needs you to provide the reference for the css as a url_for -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <div class="foreground" align="center">
            <h1>
                Welcome To Alexis' Booking System
            </h1>

            <!-- The href sends a request to the server funtions. -->
            <a href="login"><button class="pushbutton">Login</button></a>
            <br><br>
            <a href="signup"><button class="pushbutton">Sign Up</button></a>
        </>
    </body>
</html>