<!--
    Ideally, we do not use a seperate HTML template for the 
    pages of shame - we should be able to just add it as a 
    piece of data through GET and dynamically update the page
    based off of that data.
-->

<html>
    <head>
        <title>
            Alexis' Booking System Login Page
        </title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <h1>
            Login
        </h1>

        <!-- Message of shame. -->
        <h2>Login failed. Please try again.</h2>

        <form action="{{ url_for('submit_login') }}" method="POST">
            <label for="email">Email Address</label><br>
            <input type="email" id="email" name="email"><br>

            <label for="password">Password</label><br>
            <input type="password" id="password" name="password"><br>

            <input type="submit" value="Submit">
        </form>
        
    </body>
</html>