<html>
    <head>
        <title>
            Alexis' Booking System Login Page
        </title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <h1>
            Login
        </h1>

        <!--
            This is the form for submitting a login. We use the
            POST method, as well as the url_for() action. This 
            makes the request for submission send to the route
            we decided for the server function called 
            submit_login.
        -->
        <form action="{{ url_for('submit_login') }}" method="POST">
            <label for="email">Email Address</label><br>
            <input type="email" id="email" name="email"><br>

            <label for="password">Password</label><br>
            <input type="password" id="password" name="password"><br>

            <input type="submit" value="Submit">
        </form>
        
    </body>
</html>