<!DOCTYPE html>
<html>
    <head>
        <title>
            Alexis' Booking System Booking Booker
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <div class="foreground" align="center">
            <h1>
                Make a Booking
            </h1>

            <!--
                It would be better if the failure types were returned
                so a custom message can be returned for an internal
                server error as compared to sending a message that
                says that they should try a different time.

                It would also be beneficial to implement some
                functionality for viewing potential booking times,
                as well as some functionality for having minimum and
                maximum booking times, as well as making sure that 
                booking dates are semantically correct (i.e.
                making sure that they don't book in the past,
                and ensuring that the start date is before the end
                date).
            -->
            {% if request.args.get("fail") == "true" %}
            <h3>Booking request failed. Try another time.</h3>
            {% endif %}

            <!-- This once again uses HTML forms to submit a request. -->
            <form action="{{ url_for('submitbooking') }}" method="POST">
                <label for="starttime">Start Time</label><br>
                <input type="datetime-local" id="starttime" name="starttime" required><br><br>

                <label for="endtime">End Time</label><br>
                <input type="datetime-local" id="endtime" name="endtime" required><br><br>

                <input type="submit" class="pushbutton" value="Submit">
            </form>
        </div>
    </body>
</html>