<!DOCTYPE html>
<html>
    <head>
        <title>
            Alexis' Booking System Signup Page
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <div class="foreground" align="center">
            <h1>
                Sign Up
            </h1>

            <!-- 
                Signup form uses many types of HTML inputs. There
                are great honking big tables of what each type does,
                but these are the ones needed here. As you will be able
                to see in other templates, there are even widget style
                ones that can be used for datetimes for example.
            -->
            <form action="{{ url_for('submit_signup') }}" method="POST">
                <label for="first_name">First Name</label><br>
                <input class="input" type="text" id="first_name" name="first_name"><br><br>

                <label for="last_name">Last Name</label><br>
                <input class="input" type="text" id="last_name" name="last_name"><br><br>

                <label for="email">Email Address</label><br>
                <input type="email" class="input" id="email" name="email"><br><br>

                <label for="password">Password</label><br>
                <input class="input" type="password" id="password" name="password"><br><br><br>

                <input class="pushbutton" type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>