<!DOCTYPE html>
<!--
    This is the booking viewing page. It woulld be a lot better if
    I made some functionality for the rest of the CRUD principles:
    - Create
    - Read
    - [[Update]]
    - [[Delete]] 

    This can probably be done with redirects with buttons placed
    next to each row in the table except for the header that 
    sends the user to a page where they can edit their bookings,
    including attempting to update the times as well as fully 
    deleting a booking.
-->
<html>
    <head>
        <title>
            Alexis' Booking System Bookings Viewer
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <div class="foreground" align="center">
            <h1>
                Your Bookings
            </h1>

            {% if request.args.get("fail") == "fail" %}
                <h3>Request failed.</h3>
            {% endif %}

            <table>
                <thead>
                    <tr>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 
                        This is Jinja syntax. It iterates through
                        the data we gave it from the server and puts it
                        into the table.
                    -->
                    {% for row in data %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>