<html>
    <head>
        <title>
            Alexis' Booking System Bookings Viewer
        </title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <h1>
            Your Bookings
        </h1>

        <table>
            <thead>
                <tr>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </body>
</html>